pandas
numpy
matplotlib
seaborn
plotly
scipy
scikit-learn
imblearn
xgboost
lightgbm
statsmodels
#fbprophet
category_encoders
catboost
nbformat
#ydata_profiling
streamlit
streamlit_pandas_profiling
requests
sqlalchemy
pytest
pytest-html
pytest-xdist
allure-pytest
#mysql
#pymysql
#mysql-connector-python
fastapi[standard]
pydantic
uvicorn
python-jose[cryptography]
passlib[bcrypt]
python-multipart
#jupyter_contrib_nbextensions
#-e .