pandas
numpy
matplotlib
seaborn
plotly
scipy
scikit-learn
imblearn
xgboost
lightgbm
statsmodels
fbprophet
category_encoders
nbformat
streamlit
streamlit_pandas_profiling
ydata_profiling
requests
sqlalchemy
pytest
mysql-connector-python
fastapi[standard]
pydantic
uvicorn
python-jose[cryptography]
passlib[bcrypt]
python-multipart
#-e .